<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>NSMotionUsageDescription</key>
	<string>This app uses motion data to track your steps.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This app needs access to your step count to track your fitness goals.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app updates your fitness progress using HealthKit.</string>
</dict>
</plist>
